span.redcolor{font-family: Century Gothic; 
              color: red;
              font-size: 30px;}
#specificColor{font-family: Century Gothic;
               color: orange;
               font-size: 25px;}
 